@import '../utils';

.menu {
  &__label {
    display: none;
    position: relative;
    grid-auto-flow: row;
    column-gap: 1/3;
    font-weight: bold;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
  }
  &__line {
    border-bottom: 1px solid #333;
    width: 100%;
    transition: all 0.5s;
  }
  &__input {
    display: none;
  }
  &__input:checked ~ &__label {
    animation: burger 0.5s;
    .menu__line{
      position: absolute;
      top: 50%;
      border-color: #fff;
      &:first-of-type {
        transform: rotate(45deg);
      }
      &:nth-last-of-type(2) {
        display: none;
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }
}

@keyframes burger {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .menu__label {
    display: grid;
  }
}
