@font-face {
  font-family: "Railway light";
  src: url("../fonts/raleway/Raleway-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Railway medium";
  src: url("../fonts/raleway/Raleway-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
